
<div class="container">
        <h1>State Bank of India</h1>
        <form>
          <div class="input-group">
            <span class="input-group-addon">Rate of Business Loan</span>
            <input type="text" class="form-control" name="msg" placeholder="%"  #businessrate>
            <button class="btn btn-default" type="button"  (click)="changeSbiBusinessRate(businessrate.value)">Submit</button>  
        </div>
          <div class="input-group">
                <span class="input-group-addon">Rate of Car Loan</span>
                <input type="text" class="form-control" name="msg" placeholder="%" #carrate>
                <button class="btn btn-default" type="button" (click)="changeSbiCarRate(carrate.value)">Submit</button>  
            </div>
              <div class="input-group">
                    <span class="input-group-addon">Rate of Education Loan</span>
                    <input type="text" class="form-control" name="msg" placeholder="%" #educationrate>
                    <button class="btn btn-default" type="button" (click)="changeSbiEducationRate(educationrate.value)">Submit</button>  
                </div>
                  <div class="input-group">
                        <span class="input-group-addon">Rate of Gold Loan</span>
                        <input type="text" class="form-control" name="msg" placeholder="%" #goldrate>
                        <button class="btn btn-default" type="button" (click)="changeSbiGoldRate(goldrate.value)">Submit</button>  
                    </div>
                      <div class="input-group">
                            <span class="input-group-addon">Rate of Home Loan</span>
                            <input type="text" class="form-control" name="msg" placeholder="%" #homerate>
                            <button class="btn btn-default" type="button" (click)="changeSbiHomeRate(homerate.value)">Submit</button>  
                        </div>
                          <div class="input-group">
                                <span class="input-group-addon">Rate of Personal Loan</span>
                                <input type="text" class="form-control" name="msg" placeholder="%" #personalrate>
                                <button class="btn btn-default" type="button" (click)="changeSbiPersonalRate(personalrate.value)">Submit</button>  
                            </div>   
        </form>
    </div>      
  
              