span{
    min-width: 200px;
    padding: 5px 10px;
}
.input-group{
    padding: 10px 0px;
}
.input-group .form-control{
    max-width: 300px;
    border-radius: 0;
}
.btn-default {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.container{
    box-shadow: 0 2px 150px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}