.nav{
    background-color: rgb(10, 33, 53);
}
.nav ul{
    list-style: none;
}
.nav ul li{
    float: left;
    color: whitesmoke;
    padding: 10px 50px;

}
.nav ul li:hover{
background-color: rgb(27, 66, 100);
cursor: pointer;
}